.action-button {
    -webkit-transition: 150ms ease-in-out;
    transition: 150ms ease-in-out;
    background-color: var(--primary);
    min-height: 52px;
    height: 52px;
    width: 180px;
    min-width: 150px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
}
.action-button:hover {
    -webkit-transform: translate(0,-2px);
    -ms-transform: translate(0,-2px);
    transform: translate(0,-2px);
    box-shadow: 0 3px 5px rgba(145, 92, 182, .2);
    cursor: pointer;
}
.action-button-text {
    margin: 0 auto;
    font-family: Roboto;
    font-size: 20px;
}
.no-link-hover {
    text-decoration: none;
    -webkit-transition: 150ms ease-in-out;
    transition: 150ms ease-in-out;
}