.sc-outline {
    border: solid 1px #261d2b;
    border-radius: 18px;
    min-width: 256px;
    max-width: 100%;
    text-align: center;
    width: 100%;
    color: white;
    display: flex;
}

.sc-wrapper {
    margin: 32px 32px 0px 32px; 
    width: 100%;
}

.sc-group-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin-bottom: 30px;
}

.sc-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sc-group-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7c7c7c;
}

.sc-group-first-link {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e42575;
    text-decoration: none;
}

.sc-additional-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 14px;
    text-decoration: none;
    color: #e42575;
    font-size: 20px;
}

.sc-additional-link {
}

.sc-link {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #e42575;
    text-decoration: none;
}