:root {
  --background: #140f1a;
  --status-bar-background: #1d1326;
  --solworks-background: #1d1326;
  --grey: #797f91;
  --primary: #e42575;
  --border: #261d2b;
  --lm-background: white;
  --grey-border: #261d2b;
  font-family: Roboto, sans-serif !important;
  --font: 'Roboto', 'sans-serif' !important;
}

.roboto {
  font-family: Roboto, sans-serif !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-bold {
  font-weight: bold !important;
}

.normal-line-style {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.white-text {
  color: white !important;
}

.inline-contents {
  display: flex;
}

.status-bar {
  height: 32px;
  min-width: 100%;
  background-color: var(--status-bar-background);
  padding-top: 6px;
}

.status-bar-title {
  color: var(--grey);
  font-family: Roboto, sans-serif !important;
  font-weight: bold;
  font-size: 14px;
}

.status-bar-value {
  color: var(--primary);
  font-size: 14px;
  padding-left: 8px;
}

.status-bar-item {
  display: flex;
}

.no-link-hover:hover {
  text-decoration: none;
  -webkit-transform: translate(0, -1px);
  -ms-transform: translate(0, -1px);
  transform: translate(0, -1px);
}

body.sb-show-main {
  background: transparent !important;
}

.glow-on-hover {
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 8px;
}

.glow-on-hover.px18 {
  border-radius: 18px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, var(--background), #ff00c8, #ff0000, #eb6841, var(--primary));
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  -webkit-animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
}

.glow-on-hover.colors-only:before {
  content: '';
  background: linear-gradient(45deg, #ff00c8, #ff0000, var(--primary), #e34a27);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 15s linear infinite;
  -webkit-animation: glowing 15s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
}

.glow-on-hover.px18:before {
  border-radius: 18px;
}

.glow-on-hover:active {
  color: #fff;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 8px;
}

.glow-on-hover.px18:after {
  border-radius: 18px;
}

.glow-on-hover.no-bg:after {
  background: transparent;
}

.glow-on-hover.pink-bg:after {
  background: var(--primary);
}

.glow-on-hover.bg:after {
  background: var(--background);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.action-button {
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  background-color: var(--primary);
  /* background-image: linear-gradient(45deg, #5F3DC4, #C92A2A); */
  min-height: 42px;
  height: 42px;
  width: 100%;
  min-width: 150px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
}

.action-button:hover {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
  box-shadow: 0 3px 5px rgba(145, 92, 182, 0.2);
  cursor: pointer;
}

.action-button-text {
  margin: 0 auto;
  font-family: var(--font);
  font-size: 18px;
}

.no-link-hover {
  text-decoration: none;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.secondary-button {
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  width: 158px;
  min-width: 60px;
  height: 48px;
  min-height: 48px;
  border: solid 1px #24182f;
  background-color: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
}

.secondary-button-text {
  font-family: var(--font);
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #eae4e4;
}

.secondary-button:hover {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
  cursor: pointer;
  background-color: rgba(29, 19, 38, 0.6);
}

.rise-on-hover-150 {
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.rise-on-hover-300 {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.rise-on-hover-150:hover {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.rise-on-hover-300:hover {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.body-wrapper {
  padding-top: 0px;
  padding-left: 48px;
  padding-right: 48px;
  color: white;
}

.search {
  width: 380px;
}

@media (max-width: 640px) {
  .body-wrapper {
    padding-top: 34px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .search {
    width: 280px;
  }
}

@media (max-width: 580px) {
  .secondary-button {
    width: 100%;
  }
}

.pink-text {
  color: var(--primary);
}

.grey-text {
  color: var(--grey);
  font-family: var(--font);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.white-text-on-hover {
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.white-text-on-hover:hover {
  color: white;
}

.link {
  color: white;
  text-decoration: none;
}

.action-card {
  min-height: 100px;
  height: 300px;
  max-height: 400px;
  min-width: 240px;
  width: 100%;
  color: white;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  border-radius: 18px;
  border: 1px solid var(--border);
  text-align: center;
  position: relative;
}

@media (max-width: 410px) and (min-width: 390px) {
  .action-card {
    height: 340px;
  }  
}

@media (max-width: 390px) {
  .action-card {
    height: 360px;
  }  
}


.action-card-title {
  font-size: 24px;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.action-card-text {
  color: #797f91;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.action-card-button {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.lac-v2-outline {
  border: solid 1px #261d2b;
  border-radius: 18px;
  max-width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lac-v2-title {
  font-family: var(--font);
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  text-align: left;
}

.lac-v2-title-desc-wrapper {
  margin-left: 40px;
  margin-right: 48px;
}

.lac-v2-desc {
  text-align: left;
  font-family: var(--font);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}

.lac-v2-logo {
  margin-left: 32px;
}

.lac-v2-button {
  margin-right: 48px;
  margin-left: 48px;
}

.lac-v2-divider {
  width: 100%;
  height: 1px;
  background-color: #261d2b;
}

.lac-v2-tap-text {
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-family: var(--font);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #261d2b;
  align-self: center;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.lac-v2-tap-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.lac-v2-outline:hover .lac-v2-tap-text {
  color: white;
}

.mac-outline {
  border: solid 1px #261d2b;
  border-radius: 18px;
  width: 100%;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
}

.mac-title {
  font-family: var(--font);
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-top: 19px;
}

.mac-logo {
  margin-top: 34px;
}

.mac-tag {
  margin-top: 20px;
  color: rgb(197, 194, 194);
  min-width: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
}

.mac-tag-text {
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.mac-divider {
  margin-top: 37px;
  width: 100%;
  height: 1px;
  background-color: #261d2b;
}

.mac-tap-text {
  padding-top: 12px;
  padding-bottom: 10px;
  font-family: var(--font);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #261d2b;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.mac-outline:hover .mac-tap-text {
  color: white;
}

.adc-outline {
  color: white;
  border: solid 1px #261d2b;
  border-radius: 18px;
  min-width: 285px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adc-wrapper {
  padding: 32px;
}
.adc-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.adc-header-text {
  font-family: var(--font);
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  padding-left: 30px;
}
.adc-header-tag {
  padding-left: 30px;
  margin-top: -20px;
}
.adc-description {
  text-align: left;
  padding-top: 25px;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #797f91;
}

.breadcrumb-wrapper {
  font-family: var(--font);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #797f91;
  display: flex;
}

.breadcrumb-link {
  text-decoration: none;
  font-family: var(--font);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #797f91;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.breadcrumb-link:hover {
  transform: translate(0, -2px);
}

.breadcrumb-current-page {
  padding-left: 0.3125rem;
}

.menu-wrapper {
  height: 68px;
  width: 100%;
  min-width: 100px;
  background-color: var(--background);
  color: white;
  display: flex;
  flex-direction: row;
  padding: 12px 0 12px 0;
}

.menu-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-icon {
  cursor: pointer;
  margin: auto 0 auto 48px;
}

@media (max-width: 640px) {
  .menu-icon {
    cursor: pointer;
    margin: auto 0 auto 24px;
  }

  .menu-icon-bar {
    width: 32px;
    height: 4px;
    background-color: white;
    margin: 0px 0;
  }
}

.menu-icon-bar {
  width: 32px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
}

.link-card-outline {
  border: solid 1px #261d2b;
  border-radius: 18px;
  min-width: 256px;
  max-width: 100%;
  height: 175px;
  text-align: center;
}

.link-card-title {
  font-family: var(--font);
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.link-card-url {
  margin: 15px 20px;
}

.link-card-link {
  font-family: var(--font);
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e42575;
  margin-top: 26px;
  word-wrap: break-word;
}


.link-card-tap-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.link-card-divider {
  width: 100%;
  height: 1px;
  background-color: #261d2b;
}

.link-card-tap-text {
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-family: var(--font);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #261d2b;
  align-self: center;
}

.link-card-outline:hover .link-card-tap-text {
  color: white;
}

.sc-outline {
  border: solid 1px #261d2b;
  border-radius: 18px;
  min-width: 256px;
  max-width: 100%;
  text-align: center;
  width: 100%;
  color: white;
  display: flex;
}

.sc-wrapper {
  margin: 32px 32px 0px 32px;
  width: 100%;
}

.sc-group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin-bottom: 30px;
}

.sc-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sc-group-title {
  font-family: var(--font);
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7c7c7c;
}

.sc-group-first-link {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e42575;
  text-decoration: none;
}

.sc-additional-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
  text-decoration: none;
  color: #e42575;
  font-size: 20px;
}

.sc-additional-link {
}

.sc-link {
  font-family: var(--font);
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e42575;
  text-decoration: none;
}
